main{
    font-family: var(--readingFontF);
    font-size: var(--patternFontS);
    display: grid;
    /* grid-template-areas:
    "latest aside"
    "others"; */

    grid-template-columns: 2.5fr 1.5fr;
    grid-template-areas:
    "latest aside"
    "others others";
    grid-column-gap: 30px;
    grid-row-gap: 64px;
}

.latestPost{
    grid-area: latest;
}

.postImg {
    margin-bottom: 16px;
}

.articleBox a, .latestPost a, .postInfo {
    width: 100%;
    max-width: 670px;
    text-decoration: none;
}

.postInfo {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.postInfo span, .postInfo p{
    color: black;
}
.postInfo h2{
    color: var(--purple-bg);
}

.asidePosts{
    grid-area: aside;
}

.asidePosts .postInfo{
    gap: 8px;
}

.asidePosts div:not(:last-child){
    padding-bottom: 25px;
    border-bottom: 1px solid #F2E7FA;
}

.asidePosts div:not(:first-child){
    padding-top: 25px;
}

.others{
    grid-area: others;
    flex-wrap: wrap;
}

.others .articleBox{
    flex: 1
}

.others .articleBox img{
    width: 100%;
}

.others .articleBox .postInfo{
    gap: 8px;
    margin: 0;
}

.postInfo p{
    margin: 0;
}

/* Responsivo */

@media (max-width: 920px) {

    .others .articleBox {
        /* max-width: 40%; */
        min-width: 40%;
    }

    .articleBox a, .latestPost a, .postInfo {
        max-width: 100%;
    }

    main {
        grid-template-areas:
        "latest latest"
        "aside aside"
        "others others";
    }

    aside {
        border-radius: 5px;
        background: #fff;
        padding: 12px;
        box-shadow: 5px 0px 20px -5px #00000030;
    }
}
