main{
    font-family: var(--readingFontF);
    font-size: var(--patternFontS);
    display: grid;
    /* grid-template-areas:
    "latest aside"
    "others"; */

    grid-template-columns: 2.5fr 1.5fr;
    grid-template-areas:
    "latest aside"
    "others others";
    grid-column-gap: 30px;
    grid-row-gap: 64px;
}

.latestPost{
    grid-area: latest;
}

.postImg {
    margin-bottom: 16px;
}

.articleBox a, .latestPost a, .postInfo {
    width: 100%;
    max-width: 670px;
    text-decoration: none;
}

.postInfo {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.postInfo span, .postInfo p{
    color: black;
}
.postInfo h2{
    color: var(--purple-bg);
}

.asidePosts{
    grid-area: aside;
}

.asidePosts .postInfo{
    gap: 8px;
}

.asidePosts article:not(:last-child){
    padding-bottom: 25px;
    border-bottom: 1px solid #F2E7FA;
}

.asidePosts article:not(:first-child){
    padding-top: 25px;
}

.others{
    grid-area: others;
    flex-wrap: wrap;
}

.others .articleBox{
    flex: 1
}

.others .articleBox img{
    width: 100%;
}

.others .articleBox .postInfo{
    gap: 8px;
    margin: 0;
}

.postInfo p{
    margin: 0;
}
